[Desktop Entry]
Name=Helwan Stream
GenericName=Media Streamer
Comment=Stream videos and audio directly from the web, ad-free and light on resources.
# نستخدم اسم الأمر مباشرة لأننا وضعناه في /usr/bin عبر الـ PKGBUILD
Exec=hel-stream
# نستخدم اسم الأيقونة فقط لأننا وضعناها في المسار القياسي /usr/share/pixmaps
Icon=hel-stream
Terminal=false
Type=Application
Categories=AudioVideo;Video;Audio;Network;Utility;
Keywords=stream;video;audio;youtube;lightweight;adfree;helwan;
StartupNotify=true
