# الأساسيات للواجهة والمحرك
PyQt5>=5.15.0
yt-dlp>=2024.03.10

# للتعامل مع الصور (Thumbnail Processing) في الـ VideoCard
Pillow>=10.0.0

# للتعامل مع الروابط والـ API في بعض المنصات
requests>=2.31.0

# لدعم الأنواع والبيانات في بايثون
typing-extensions>=4.5.0

sudo pacman -S python-pyqt5 mpv python-requests yt-dlp
