[Desktop Entry]
Name=Helwan Stream
Comment=Stream videos and audio directly from the web, ad-free and light on resources.
Exec=python3 /opt/hel-stream/main.py
Icon=/opt/hel-stream/assets/icons/logo.png
Terminal=false
Type=Application
Categories=Video;Audio;Network;Utility;
Keywords=stream;video;audio;youtube;lightweight;adfree;helwan;
StartupNotify=true