# --- كبسولة اعتماديات حلوان لينكس ---

# المحرك والقلب التقني (Core Engine)
yt-dlp                  # الأداة الأساسية لجلب الروابط والبحث [cite: 3]

# واجهة المستخدم (User Interface)
PyQt5                   # إطار عمل الواجهة الرسومية [cite: 6]
PyQt5-sip               # مكتبة مكملة لضمان استقرار الواجهة

# معالجة الوسائط والشبكة
requests                # للتعامل مع طلبات الصور والـ API
certifi                 # لتحديث شهادات الأمان وتجنب أخطاء SSL في ويندوز

sudo pacman -S python-pyqt5 mpv python-requests