name: Helwan Stream Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # السطر اللي جاي ده بيبحث عن الملف في أي داهية جوه المشروع وبيسطبه
        find . -name "requirements.txt" -exec pip install -r {} +

    - name: Syntax Check
      run: |
        # بيبحث عن main.py في أي مكان وبيعمل له فحص
        find . -name "main.py" -exec python -m py_compile {} +
